[user]
  name = Joshua ChenZhao
	email = joshua.zhao@crypto.com
[includeIf "gitdir:~/codes/projects-crypto-com/"]
	path = ~/codes/projects-crypto-com/.gitconfig
[includeIf "gitdir:~/codes/projects-crunchysouldev/"]
	path = ~/codes/projects-crunchysouldev/.gitconfig
[includeIf "gitdir:~/codes/projects-personal/"]
	path = ~/codes/projects-personal/.gitconfig
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
